.notificaciones{
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 3;
}

.alerta{
    position: relative;
    padding: 10px;
    color: white;
    width: 320px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    background-color: red;
    animation: show 0.3s ease 1 forwards;
}

.alerta i{
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.alerta .tituloa{
    font-size:large;
    font-weight: bold;
}

#cerrar{
    color: white !important; 
}

.alerta span{
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
    opacity: 0.6;
}

@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateY(-10%);
    }
}

.alerta::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100% ;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 3s linear 1 forwards;
}

@keyframes timeOut{
    to{
        width: 0;
    }
}

