#btn_salida{
    background-color: #FF0043;
    text-decoration: none;
    color: white;
}


#btn_devoluciones{
    background-color: #FF0043;
    text-decoration: none;
    color: white;
}
#btn_categoria{
    background-color: #FF0043;
    color: white;
}
#btn_pedi{
    background-color: #FF0043;
    text-decoration: none;
    color: white;
}
#btn_pedi_p{
    background-color: #FF0043;
    text-decoration: none;
    color: white;
}
#icon{
  text-decoration: none;
}
.boton-modal{
    padding: 40px;
    background-color: #fff;
}
.boton-modal{
    padding: 10px 15px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{ 
    background-color: #cc0036;
}
/*:::Fin Boton-Modal:::*/

.boton-modal_salida label{
    padding: 10px 15px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal_salida label:hover{ 
    background-color: #cc0036;
}
.boton-modal_dev{
    padding: 40px;
    background-color: #fff;
}
.boton-modal_dev{
    padding: 10px 15px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal_dev label:hover{ 
    background-color: #cc0036;
}
/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    height: 55% !important;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#cc0036;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
.content-modal .equis{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.content-modal .equis label{
    background-color: #FF0043;
    cursor: pointer;
    transition: all 300ms ease;
}
#btn-modal_salida{
    display: none;
}
.container-modal-salida{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal_salida:checked ~ .container-modal-salida{
    display: flex;
}
.content-modal-salida{
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal-salida h2{
    margin-bottom: 15px;
}
.content-modal-salida p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal-salida .btn-cerrar-salida{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal-salida .btn-cerrar-salida label{
    padding: 7px 10px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal-salida .btn-cerrar-salida label:hover{
    background-color:#cc0036;
}
.cerrar-modal-salida{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal-salida{
        width: 90%;
    }
}
.content-modal-salida .equis{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.content-modal-salida .equis label{
    background-color: #FF0043;
    cursor: pointer;
    transition: all 300ms ease;
}
#btn-modal_dev{
    display: none;
}
.container-modal-devoluciones{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal_dev:checked ~ .container-modal-devoluciones{
    display: flex;
}
.content-modal-devoluciones{
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal-devoluciones h2{
    margin-bottom: 15px;
}
.content-modal-devoluciones p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal-devoluciones .btn-cerrar-devoluciones{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal-devoluciones .btn-cerrar-devoluciones label{
    padding: 7px 10px;
    background-color: #FF0043;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal-devoluciones .btn-cerrar-devoluciones label:hover{
    background-color:#cc0036;
}
.cerrar-modal-devoluciones{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal-devoluciones{
        width: 90%;
    }
}
.content-modal-devoluciones .equis{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.content-modal-devoluciones .equis label{
    background-color: #FF0043;
    cursor: pointer;
    transition: all 300ms ease;
}